<!DOCTYPE html>
<html lang="vi" xmlnd="https://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Driver-item Admin Lavender</title>

    <!-- The website stylesheet -->
    <link rel="stylesheet" href="/css/profile.css" />

    <!-- The website JavaScript file -->
    <script src="/js/pages/profile.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
<!-- ---------------------------------------header------------------------------------------------- -->
<header>
    <div class="menu">
        <li><a href="/">TRANG CHỦ</a></li>
    </div>
    <div class="others">
        <li><input type="text" placeholder="  Tìm kiếm"><i class="fa fa-search"></i></li>
        <li><a class="fa fa-bell" href=""></a></li>
        <li><a class="fa fa-user" href=""></a></li>
    </div>
</header>
<!-- ---------------------------------------header------------------------------------------------- -->
<!-- ---------------------------------------Slide------------------------------------------------- -->
<section id="SlideFr">
    <div class="aspect-ratio-169">
        <img src="/image/ad4.jpg"/>
        <div class="find">
            <from action="" id="search-box">
                <input type="text" placeholder="  Tìm kiếm" id="search-text">
                <button id="search-btn"><i class="fa fa-search"></i></button>
            </from>
        </div>

    </div>
</section>
<!-- ---------------------------------------Slide------------------------------------------------- -->
<!-- ---------------------------------------New------------------------------------------------- -->
    <section class="drItem">
        <div class="container">
            <div class="drItem-content row">
                <div class="drItem-content-left">
                    <iframe
                    width="800"
                    height="800"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/directions?key=<%=process.env.googleAPI%>&origin=<%= `${data.locationFrom.street}, ${data.locationFrom.city}, ${data.locationFrom.province}` %>&destination=<%= `${data.locationTo.street}, ${data.locationTo.city}, ${data.locationTo.province}` %>&avoid=tolls|highways">
                    </iframe>
                </div>
                <!-- ......................... -->
                <div class="drItem-content-right">
                    <div class="drItem-content-right-CCCD">
                        <h1> Mã đơn: </h1>
                        <p><%= data._id %><p>
                    </div>
                    <div class="drItem-content-right-driver">
                        <h1> Tài xế phụ trách: </h1>
                        <p><%= data.driver %></p>
                    </div>
                    <div class="drItem-content-right-num">
                        <h1> Biển số xe: </h1>
                        <p><%= data.vehicle %></p>
                    </div>
                    <div class="drItem-content-right-status">
                        <h1>Từ: </h1>
                        <p><%= `${data.locationFrom.city}, ${data.locationFrom.province}` %></p>
                    </div>
                    <div class="drItem-content-right-status">
                        <h1>Đến: </h1>
                        <p><%= `${data.locationTo.city}, ${data.locationTo.province}` %></p>
                    </div>
                    <div class="drItem-content-right-icon">
                        <h1>Quãng đường: </h1>
                        <p><%= `${data.distance} m` %></p>
                    </div>
                    <div class="drItem-content-right-icon">
                        <h1>Phí: </h1>
                        <p><%= `${data.price}000 VND ` %></p>
                    </div>
                    <div class="drItem-content-right-icon">
                        <h1>Thời gian đi: </h1>
                        <p><%= `${data.timeFrom.toLocaleDateString('vi-VN')} ${data.timeFrom.toLocaleTimeString('vi-VN', {hour12: false})}` %></p>
                    </div>
                    <div class="drItem-content-right-icon">
                        <h1>Thời gian đến: </h1>
                        <p><%= `${data.timeTo.toLocaleDateString('vi-VN')} ${data.timeTo.toLocaleTimeString('vi-VN', {hour12: false})}` %></p>
                    </div>
                    <div class="drItem-content-right-status">
                        <h1>Trạng thái: </h1>
                        <p><%= data.canceled? 'Đã bị hủy' : 'Bình thường' %></p>
                    </div>
                    <div class="drItem-content-right-button">
                        <button class="btn"> REVIEW <i class='bx bxs-pencil'></i></button>
                        <button class="btn2"> HỦY <i class='bx bxs-trash-alt' ></i></button>
                    </div>
                </div>
            </div>
        
        </div>
    </section>

<!-- ---------------------------------------contact------------------------------------------------- -->
    <section class="contact-container">
        <p>Xin chào mừng quý khách</p>
        <p>Đến với chúng tôi, quý khách sẽ được trải nghiệm dịch vụ với chất lượng tuyệt vời nhất</p>
        <input type="text" placeholder="Nhập email của bạn...">

    </section>
<!-- ---------------------------------------Slide------------------------------------------------- -->

<!-- ---------------------------------------footer------------------------------------------------- -->

<section class="fot">
    <div class="footer-top">
        <li><a href=""></a>Liên hệ</li>
        <li><a href=""></a>Tuyển dụng</li>
        <li><a href=""></a>Giới thiệu</li>
        <li>
            <a href="" class="fa fa-facebook" href=""></a>
            <a href="" class="fa fa-twitter" href=""></a>
            <a href="" class="fa fa-youtube" href=""></a>
        </li>
    </div>

    <div class="footer-center">
        <p>
            Công ty trách nhiệm hữu hạn Lavender Project<br>
            Địa chỉ đăng kí: Đường Tạ Quang Bửu, Phường Linh Trung, Thủ Đức, Thành Phố Hồ Chí Minh <br>
            Tư vấn : <span>0934870910</span>
        </p>
    </div>

    <div class="footer-bottom">
        #LTNC Lavender Project
    </div>
</section>
<!-- ---------------------------------------footer------------------------------------------------- -->
  </body>

<!-- ---------------------------------------Script------------------------------------------------- -->
  <script>
    //
  </script>
<!-- ---------------------------------------Script------------------------------------------------- -->
</html>
