<!DOCTYPE html>
<html lang="vi" xmlnd="https://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Driver_Admin Lavender</title>

    <!-- The website stylesheet -->
    <link rel="stylesheet" href="/css/driver.css" />

    <!-- The website JavaScript file -->
    <script src="/js/pages/driver.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
<!-- ---------------------------------------header------------------------------------------------- -->
    <header>
        <div class="logo"> 
            <img width="200"  src="/image/logo4.png" onclick="logo()"/>
        </div>
        <div class="menu">
            <li><a href="/admin">TRANG CHỦ</a></li>
            <li><a href="/admin/vehicles">LOẠI XE</a></li>
            <li><a href="/admin/drivers">TÀI XẾ</a></li>
            <li><a href="/admin/drivers/:_id/schedule">LỊCH TRÌNH</a></li>
            <li><a href="/admin/quanly.ejs">QUẢN LÝ</a></li>
        </div>
        </div>
        <div class="others">
            <div id="iconX" >
                <li id="ic1"><a class="fa fa-bell" href=""></a></li>
            </div>
            <div id="iconX" >
                <li><a class="fa fa-user" href=""></a></li>
            </div>
        </div>
    </header>
<!-- ---------------------------------------header------------------------------------------------- -->

<!-- ---------------------------------------Slide------------------------------------------------- -->
<section id="SlideFr">
    <div class="aspect-ratio-169">
        <img src="/image/ad4.jpg"/>
        <div class="find">
            <from action="" id="search-box">
                <input type="text" placeholder="  Tìm kiếm" id="search-text">
                <button id="search-btn"><i class="fa fa-search"></i></button>
            </from>
        </div>

    </div>
</section>
<!-- ---------------------------------------Slide------------------------------------------------- -->
    <section class="xe">
        <div class="container">
            <div class="xe-top row">
                <p>TRANG CHỦ</p><span><i class='bx bxs-right-arrow'></i></span><p>TÀI XẾ</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="xe-left">
                    <ul>
                        <li class="xe-left-li block"><a href="#">ALL</a>
                            <input type="radio" name="code" required>
                        </li>
                        <li class="xe-left-li block"><a href="#">XE CONTAINER</a>
                            <input type="radio" name="code" required>
                            <ul>
                                <li class="xe-left-li"><a href="">CONTAINER_20</a>
                                    <input type="checkbox" name="code" required></li>
                                <li class="xe-left-li"><a href="">CONTAINER_40</a>
                                    <input type="checkbox" name="code" required></li>
                            </ul>
                        </li>
                        <li class="xe-left-li"><a href="#">XE TẢI</a>
                            <input type="radio" name="code" required>
                            <ul>
                                <li class="xe-left-li"><a href="">SMALL</a>
                                    <input type="checkbox" name="code" required>
                                </li>
                                <li class="xe-left-li"><a href="">MEDIUM</a>
                                    <input type="checkbox" name="code" required></li>
                                <li class="xe-left-li"><a href="">LARGE</a>
                                    <input type="checkbox" name="code" required></li>
                            </ul>
                        </li>
                        <li class="xe-left-li"><a href="#">XE KHÁCH</a>
                            <input type="radio" name="code" required>
                            <ul>
                                <li class="xe-left-li"><a href="">SEAT_2_BAG_1</a>
                                    <input type="checkbox" name="code" required></li>
                                <li class="xe-left-li"><a href="">SEAT_3_BAG_2</a>
                                    <input type="checkbox" name="code" required></li>
                                <li class="xe-left-li"><a href="">SEAT_4_BAG_2</a>
                                    <input type="checkbox" name="code" required></li>
                                <li class="xe-left-li"><a href="">SEAT_5_BAG_3</a>
                                    <input type="checkbox" name="code" required></li>
                                <li class="xe-left-li"><a href="">SEAT_6_BAG_3</a>
                                    <input type="checkbox" name="code" required></li>
                                <li class="xe-left-li"><a href="">SEAT_7_BAG_4</a>
                                    <input type="checkbox" name="code" required></li>
                                <li class="xe-left-li"><a href="">SEAT_8_BAG_4</a>
                                    <input type="checkbox" name="code" required></li>
                            </ul>
                        </li>
                        <li class="xe-left-li"><a href="#">TÀI XẾ</a>
                            <input type="radio" name="code" required>
                            <ul>
                                <div class="input-box">
                                    <input id="NameDR" type="text" placeholder="Tên tài xế " required>
                                </div>
                
                            </ul>
                        </li>
                        <li class="xe-left-li"><a href="#">BIỂN SỐ XE</a>
                            <input type="radio" name="code" required>
                            <ul>
                                <div class="input-box">
                                    <input id="IDCAR" type="text" placeholder="Biển số xe" required>
                                </div>
                
                            </ul>
                        </li>
                        <li class="xe-left-li"><a href="#">
                            <button id="SEA">TÌM KIẾM</button>
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="xe-right row">
               
                    <div class="xe-right-top-item2">
                        <a href="/admin/driver/add" target="_self">
                            <button id="but1"><span>Thêm</span><i class='bx bxs-add-to-queue'></i></button>
                        </a>
                    </div>
                 
                
                    <div class="xe-right-content row">
                       
                        <% data.forEach(function(item) { %>
                        <div class="xe-right-content-item">
                            <a href="/admin/drivers/<%= item.data[0]._id %>">
                                <img src="/image/f3.jpg"  alt="Xe">
                            </a>
                            <span> <%= item.data[0].name %> </span>
                            <h1>SĐT : <%= item.data[0].phoneNumber %><br></h1>
                            <h1>Tuổi : <%= item.data[0].age %><br></h1>
                            <h1>Loại bằng : <%= item.data[0].licenseType %></h1>
                            <h1>Kinh nghiệm : <%= item.data[0].experience %></h1>
                            <h1>Đánh Giá: <%= Math.round(item.data[0].rating) %></h1>
                        </div>
                        <% }) %>

                    
                        
                    </div>
                    <div class="xe-right-bottom row">
                        <div class="xe-right-bottom-item">
                            <div class="pagination">
                                <a href="#">&laquo;</a>
                                <a href="?page=1">1</a>
                                <a class="" href="?page=2">2</a>
                                <a href="?page=3">3</a>
                                <a href="?page=4">4</a>
                                <a href="?page=5">5</a>
                                <a href="?page=6">6</a>
                                <a href="?page=">&raquo;</a>
                              </div>
                              
                        </div>
    
    
                    </div>



                </div>
            
                

            </div>
        </div>
    </section>



<!-- ---------------------------------------contact------------------------------------------------- -->
    <section class="contact-container">
        <p>Xin chào mừng quý khách</p>
        <p>Đến với chúng tôi, quý khách sẽ được trải nghiệm dịch vụ với chất lượng tuyệt vời nhất</p>
        <input type="text" placeholder="Nhập email của bạn...">

    </section>
<!-- ---------------------------------------Slide------------------------------------------------- -->

<!-- ---------------------------------------footer------------------------------------------------- -->

<section class="fot">
    <div class="footer-top">
        <li><a href=""></a>Liên hệ</li>
        <li><a href=""></a>Tuyển dụng</li>
        <li><a href=""></a>Giới thiệu</li>
        <li>
            <a href="" class="fa fa-facebook" href=""></a>
            <a href="" class="fa fa-twitter" href=""></a>
            <a href="" class="fa fa-youtube" href=""></a>
        </li>
    </div>

    <div class="footer-center">
        <p>
            Công ty trách nhiệm hữu hạn Lavender Project<br>
            Địa chỉ đăng kí: Đường Tạ Quang Bửu, Phường Linh Trung, Thủ Đức, Thành Phố Hồ Chí Minh <br>
            Tư vấn : <span>0934870910</span>
        </p>
    </div>

    <div class="footer-bottom">
        #LTNC Lavender Project
    </div>
</section>
<!-- ---------------------------------------footer------------------------------------------------- -->
  </body>

<!-- ---------------------------------------Script------------------------------------------------- -->
  <script>
    //
  </script>
<!-- ---------------------------------------Script------------------------------------------------- -->
</html>
